header .logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
}
header .logo-title .logo img {
  width: 150px;
  height: 150px;
}
header .logo-title .title {
  font-family: "Dongle";
  font-size: 40px;
  color: rgb(255, 115, 0);
}
main {
  width: 100%;
}
main article {
  width: 80%;
  margin: 100px;
  text-align: justify;
  font-family: "Roboto";
}
main article .title {
  font-family: "Dongle";
  font-size: 30px;
}
main article .category {
  display: inline-flex;
  float: right;
  background-color: rgb(207, 81, 7);
  border: solid rgb(146, 54, 0);
  border-radius: 10px;
  cursor: pointer;
  height: max-content;
}
main article .category p {
  margin: 0;
}
footer div {
  background-color: rgb(146, 54, 0);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
