body {
  width: 90%;
  margin-left: 50px;
}

/*==================Header======================*/
header .logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
}

header .logo-title .logo img {
  width: 150px;
  height: 150px;
}

header .logo-title .title {
  font-family: "Dongle";
  font-size: 40px;
  color: rgb(255, 115, 0);
}

header .filter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 40px;
}

/*==================.main======================*/

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

main article {
  width: 100%;
  border: solid rgb(92, 168, 92) 2px;
  background-color: rgb(245, 147, 68);
  border-radius: 15px;
}

main article .author-public {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main article .content {
  width: 525px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

main article .category {
  display: inline-flex;
  float: right;
  background-color: rgb(207, 81, 7);
  border: solid rgb(146, 54, 0);
  border-radius: 10px;
  cursor: pointer;
}

main article .category a {
  margin: 1px;
  text-decoration: none;
  color: black;
}

main article .article-stuff {
  margin: 15px;
}

footer div {
  background-color: rgb(146, 54, 0);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1143px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
